<html>
  <head></head>
  <body>
    <h2>Seasons</h2>
    {% if month > 0 and month <= 2 or month == 12 %}
      Winter is here, time to hit the slopes!
    {% elseif month > 2 and month <= 5 %}
      Spring is here, watch the flowers bloom!
    {% elseif month > 5 and month <= 8 %}
      Summer is here, time to hit the beach!
    {% elseif month > 8 and month <= 11 %}
      Autumn is here, watch the leaves slowly fall!
    {% endif %}
  </body>
</html>